

.container button {
  
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
   
 
 
 }
 .container button a {
   text-decoration: none;
    color: azure;
    font-size: 20px;
 
 
 }
 .table {
 width: 200px;
 
 }
